body { margin-top: 1.0em; background-color: #73472A; font-family: Helvetica, Arial, FreeSans, san-serif; color: #fff; }
.forkme { position: absolute; top: 0; right: 0; border: 0; }
#container { margin: 0 auto; width: 700px; }
h1 { font-size: 3.8em; color: #fff; margin-bottom: 3px;  }
h1 .small { font-size: 0.4em; }
h1 a { text-decoration: none }
h2 { font-size: 1.5em; color: #eee; }
h3 { text-align: center; color: #eee; }

h1, h2, h3 { text-shadow: 0px 3px #582400; }

a { color: #fff; }
.description { font-size: 1.2em; margin-bottom: 30px; margin-top: 30px; font-style: italic;}
.download { float: right; }
pre { background: #000; color: #fff; padding: 15px;}
hr { border: 0; width: 80%; border-bottom: 1px solid #aaa}
.footer { text-align:center; padding-top:30px; font-style: italic; }

.gist .gist-file .gist-data { font-size: 80% !important; background: #FFE6C4 !important; }
.gist .gist-file .gist-meta { font-size: 80% !important; background: #FFC880 !important; }
.gist-syntax .nt { color: #000 !important; }
.gist-syntax .p, .gist-syntax .n { color: #000 !important; }

.gist-syntax .m { color: #D14 !important;}